<%= form_with model:  @item, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "記事タイトル" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :text, "記事の中身" %><br />
    <%= f.text_area :text, class: :form__text, rows: "10" %>
  </div>

  <div class="field">
    <%= f.label :image, "写真" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "投稿", class: :form__btn  %>
  </div>
<% end %>